/* Footer */

footer {
    padding: 20px 0;
    background-color: #a39677;
    min-width: 100%;
    display: flex;
}

.left_footer {
    display: flex;
    align-items: center;
    margin-left: 7%;

}

.logo_footer {
    width: 100%;
}

.logo_footer img {
    background: white;
    padding: 15px;
    width: 100%;
}

.right_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.title_footer {
    font-size: 65%;
    color: white;
    margin: 0 0 20px 0;
}

.links_footer {
    max-width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.links_footer a {
    color: white;
}
.links_footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.links_list_footer {
    font-size: 21px;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.links_list_footer img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.links_footer li:hover {
    transition: 0.5s;
    filter: invert(15%);
    transform: scale(0.97);
}